<mat-card>
  <mat-card-header>
    <mat-card-title>{{ movie.Title }}</mat-card-title>
    <mat-card-subtitle>Fecha de Lanzamiento: {{ movie.Year }}</mat-card-subtitle>
  </mat-card-header>

  <!--TODO:IMAGEN-->

  <mat-card-content>
    <!-- <h4>{{ movie.Title }}</h4> -->
    <p>
      <strong>Tipo: </strong>{{ movie.Type }}
      <br>
      <mat-chip-listbox>
        <mat-chip>
          {{ movie.Type }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <!-- <button mat-button mat-raised color="primary" [routerLink]="['/movies/edit', movie.id ]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <span class="spacer"></span> -->

     <button mat-button mat-raised color="primary" [routerLink]="['/movies', movie.Title]">
      <mat-icon>more_horiz</mat-icon>
      detalles
    </button>
  </mat-card-actions>
</mat-card>
